syntax: glob

Win*Debug
Win*Release
*.sdf
*.opensdf
*.ipch
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
*.scc
*.db
*.db-journal
*.idb
*OBJS.inc
objchk*
objfre*
[Bb]in
[Dd]ebug*/
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
[Bb]uild[Ll]og.*
*.[Pp]ublish.xml
3rdparty/*/.git*
3rdparty/_include/*
3rdparty/_lib/*
builds
/*.opendb
